
<app-notification></app-notification>
<div class="container py-4">
  <div class="row">
    <div class="assignments-header col-md-9">
      <div class="intro-text">
        <h3 class="course-title mb-2">Welcome to the Assignments page! Here you can browse, create, and manage all your course assignments.</h3>
      </div>
      <ng-container *ngIf="user() as u">
        <button
          *ngIf="u.role === UserRole.TEACHER"
          (click)="openCreateModal()"
          class="just-button"
        >
          Add New Assignment
        </button>
      </ng-container>
      <app-assignment-list [assignments]="assignments"></app-assignment-list>
    </div>
    <div class="col-md-3 mt-5">
      <app-assignment-sidebar [assignments]="assignments"></app-assignment-sidebar>
    </div>
  </div>
  <app-assignment-create-modal
    [lessonId]="lessonId"
    [show]="showCreateModal"
    [close]="closeCreateModal.bind(this)"
  ></app-assignment-create-modal>
</div>
