<div class="container py-4">
  <div class="row">
    <div class="col-md-9">
      <h2>Assignments</h2>
      <ng-container *ngIf="user() as u">
        <button *ngIf="u.role === UserRole.TEACHER" (click)="openCreateModal()" class="just-button">
          Add New Assignment
        </button>
      </ng-container>
      <app-assignment-list [assignments]="assignments"></app-assignment-list>
    </div>
    <div class="col-md-3 mt-5">
      <app-assignment-sidebar [assignments]="assignments"></app-assignment-sidebar>
    </div>
  </div>
  <app-assignment-create-modal
    [lessonId]="lessonId"
    [show]="showCreateModal"
    [close]="closeCreateModal.bind(this)"
  ></app-assignment-create-modal>
</div>
