<app-questions-list [questions]="questions"></app-questions-list>

<!-- Студенты видят кнопку отправки ответов -->
<button
  *ngIf="!isTeacher()"
  class="submit-button"
  [disabled]="submitting"
  (click)="submitAnswers()"
>
  {{ submitting ? 'Submitting…' : 'Submit Answers' }}
</button>

<div *ngIf="rating !== null" class="result">
  Your score: {{ rating }}%
</div>

<button
  *ngIf="isTeacher()"
  class="create-button"
  (click)="openCreateModal()"
>
  Create New Question
</button>

<app-question-create-modal
  *ngIf="showCreateModal"
  (save)="onSave($event)"
  (close)="closeCreateModal()"
></app-question-create-modal>
