<!-- forum-page.component.html -->
<div class="row g-3">
  <div class="col-4">
    <app-topic-form [courseId]="courseId" (created)="topicList.refresh()"></app-topic-form>

    <app-topic-list #topicList
                    [courseId]="courseId"
                    (select)="onTopicSelected($event)"></app-topic-list>
  </div>

  <div class="col-8" *ngIf="selectedTopic as topic">
    <h4>{{ topic.title }}</h4>

    <app-post-form [topicId]="topic.id" (created)="loadPosts()"></app-post-form>

    <div *ngIf="loadingPosts" class="text-center p-5">
      Загрузка…
    </div>

    <app-post-tree *ngFor="let p of rootPosts"
                   [post]="p"
                   [topicId]="topic.id"
                   (replied)="loadPosts()"></app-post-tree>
  </div>

  <div class="col-8 text-muted" *ngIf="!selectedTopic">
    <p>Выберите тему слева или создайте новую.</p>
  </div>
</div>
