
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/course-page" routerLinkActive="active">Courses</a>
  <a routerLink="/forum" routerLinkActive="active">Forum</a>
  <span class="nav-actions">
    <ng-container *ngIf="user() as u; else showLogin">
      <span class="user-info">
        Привет, {{ u.name }} ({{ u.role }})
      </span>
      <button class="just-button" (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #showLogin>
      <button class="just-button" (click)="login()">Login</button>
    </ng-template>
  </span>
</nav>
<hr>
<router-outlet></router-outlet>

<app-notification></app-notification>
