<nav class="site-nav">
  <div class="nav-start">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/course-page" routerLinkActive="active">Courses</a>
    <a routerLink="/forum" routerLinkActive="active">Forum</a>
  </div>

  <div class="nav-end">
    <label class="theme-switch">
      <input type="checkbox"
             [checked]="isDarkTheme()"
             (change)="toggleTheme($event)">

      <span class="track">
        <span class="thumb"></span>

      </span>
    </label>

    <button class="just-button" (click)="user() ? logout() : login()">
      {{ user() ? 'Logout' : 'Login' }}
    </button>
  </div>
</nav>
<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>
