<!-- toolbar --------------------------------------------------------->
<div class="toolbar">
  <button *ngFor="let t of blockTypes" (click)="addBlock(t)">+ {{ t }}</button>
  <button class="save-btn" (click)="save()">Save</button>
</div>

<!-- recursive template --------------------------------------------->
<ng-template #recursive let-blocks>
  <div
    class="block-item"
    *ngFor="let b of blocks; let i=index; trackBy: trackById"
  >
    <div class="block-controls">
      <button (click)="moveUp(i)">↑</button>
      <button (click)="moveDown(i)">↓</button>
      <button (click)="remove(b.id)">✕</button>
    </div>

    <ng-container [ngSwitch]="b.type">
      <!-- paragraph -->
      <textarea *ngSwitchCase="'paragraph'"
                [(ngModel)]="b.data"
                (ngModelChange)="updateData(b.id,$event)"
                placeholder="Enter text…"></textarea>

      <!-- code -->
      <textarea *ngSwitchCase="'code'" class="code-block" rows="4"
                [(ngModel)]="b.data.code"
                (ngModelChange)="updateData(b.id,{ code:$event, language:b.data.language })"
                placeholder="Enter code…"></textarea>

      <!-- list -->
      <div *ngSwitchCase="'list'" class="list-block">
        <label><input type="checkbox"
                      [(ngModel)]="b.data.ordered"
                      (ngModelChange)="updateData(b.id,b.data)"/> Ordered</label>

        <ng-container *ngIf="b.children?.length">
          <ng-container *ngTemplateOutlet="recursive;context:{ $implicit:b.children }"></ng-container>
        </ng-container>

        <button class="add-list-item" (click)="addChild(b.id,'paragraph')">+ add item</button>
      </div>

      <!-- section -->
      <div *ngSwitchCase="'section'" class="section-block">
        <input class="section-title"
               [(ngModel)]="b.data.title"
               (ngModelChange)="updateData(b.id,b.data)"/>

        <ng-container *ngIf="b.children?.length">
          <ng-container *ngTemplateOutlet="recursive;context:{ $implicit:b.children }"></ng-container>
        </ng-container>

        <div class="add-section-child">
          <button *ngFor="let t of blockTypes" (click)="addChild(b.id,t)">+ {{t}}</button>
        </div>
      </div>

      <!-- table -->
      <div *ngSwitchCase="'table'" class="table-block">
        <div class="table-controls">
          <button (click)="addRow(b.id)">+ Row</button>
          <button (click)="addCol(b.id)">+ Col</button>
          <button (click)="delRow(b.id,b.table.length-1)" [disabled]="b.data.rows<=1">– Row</button>
          <button (click)="delCol(b.id,b.data.cols-1)"  [disabled]="b.data.cols<=1">– Col</button>
        </div>

        <table>
          <tr *ngFor="let row of b.table; let rIdx=index">
            <td *ngFor="let cell of row; let cIdx=index">

              <!-- мини-toolbar внутри ячейки -->
              <div class="cell-toolbar">
                <select #sel (change)="addChild(cell.id, $any(sel.value))">
                  <option value="" disabled selected>+ block</option>
                  <option *ngFor="let t of blockTypes" [value]="t">{{ t }}</option>
                </select>


                <button (click)="remove(cell.id)">✕</button>
              </div>

              <!-- содержимое ячейки -->
              <ng-container *ngIf="cell.children?.length; else empty">
                <ng-container *ngTemplateOutlet="recursive;context:{ $implicit: cell.children }"></ng-container>
              </ng-container>
              <ng-template #empty><small class="empty-cell">[ empty ]</small></ng-template>
            </td>
          </tr>
        </table>
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- корневой вызов -->
<ng-container
  *ngTemplateOutlet="recursive; context:{ $implicit: (blocks$ | async) }">
</ng-container>
