
$light-primary:    #1e88e5;
$light-secondary:  #fdd835;
$light-background: #ecf0f3;
$light-surface:    #ffffff;
$light-error:      #e53935;
$light-success:    #43a047;
$light-info:       #0288d1;
$light-text-primary:   #212121;
$light-text-secondary: #616161;
$light-button: #47719b;
$cansel-button: #f34d5a;

$dark-primary:     #90caf9;
$dark-secondary:   #fff59d;
$dark-background:  #121212;
$dark-surface:     #1e1e1e;
$dark-error:       #ef5350;
$dark-success:     #66bb6a;
$dark-info:        #29b6f6;
$dark-text-primary:   #e0e0e0;
$dark-text-secondary: #bdbdbd;

@mixin theme-light {
  --color-primary:       #{$light-primary};
  --color-secondary:     #{$light-secondary};
  --color-background:    #{$light-background};
  --color-surface:       #{$light-surface};
  --color-error:         #{$light-error};
  --color-success:       #{$light-success};
  --color-info:          #{$light-info};
  --text-primary:        #{$light-text-primary};
  --text-secondary:      #{$light-text-secondary};
  --color-button:         #{$light-button};
  --cansel-button:     #{$cansel-button};
}

@mixin theme-dark {
  --color-primary:       #{$dark-primary};
  --color-secondary:     #{$dark-secondary};
  --color-background:    #{$dark-background};
  --color-surface:       #{$dark-surface};
  --color-error:         #{$dark-error};
  --color-success:       #{$dark-success};
  --color-info:          #{$dark-info};
  --text-primary:        #{$dark-text-primary};
  --text-secondary:      #{$dark-text-secondary};
}

:root {
  @include theme-light;
}

.dark-theme {
  @include theme-dark;
}
