body, .bg-dark {
  background-color: $dark-bg !important;
  color: $font-color !important;
}

a {
  color: $accent;

  &:hover {
    color: $accent-light;
  }
}

.badge.text-bg-violet {
  background-color: $accent;
  color: white;
}
